<link rel="stylesheet" href="layout.css">

<p> Texto block com  <strong>inline</strong> dentro</p>

<hr>

<table>
    <tr>
        <td> Hora </td>
        <td> 20:00 </td>
    </tr>
    <tr>
        <td> Hora </td>
        <td> 20:38 </td>
    </tr>
    <tr>
        <td> Hora </td>
        <td> 22:18 </td>
    </tr>
</table>

<hr>

<div style="float: left;">
    Esquerda
</div>
<div style="float: right;">
    Direita
</div>
<div style="clear:both">
    Normal
</div>

<hr>
<!--
<div class="flexbox">
    <div class="item">A</div>
    <div class="item">B</div>
    <div class="item">C</div>
</div>
-->
<hr>
<!--
<div class="container">
    <div class="item">1</div>
    <div class="item">2</div>
    <div class="item">3</div>
</div>
-->
<hr>
<!--
<div class="flex-container">
    <div class="flex-item">C</div>
    <div class="flex-item">D</div>
    <div class="flex-item">E</div>
</div>
-->
<hr>

<div class="box">
    <div>A</div>
    <div>B</div>
    <div>C</div>
    <div>D</div>
</div>

<hr>


