<!DOCTYPE html>

    <%- include("../partials/head"); %>

    <body class="container">

        <%- include("../partials/header", {pagina: "Sobre"}); %>

        <main>
            <div class="bg-success p-2 text-dark bg-opacity-10">
                <h1>About Me</h1>
                <p>Hello! Me name is Nicolas Loffi Kaminski, I am a novice Dev</p>
            </div>
        </main>

        <%- include("../partials/footer"); %>


        
    </body>

</html>